:root {
  /**
   *  Number of lines per page/Number of characters per line
   */
  --vs-theme--num-of-line: 20;        /* 15→17行に増加 */
  --vs-theme--num-of-character: 42;   /* 39→42文字に増加 */

  /**
   *  Indent size of subsection
   */
  --vs-theme--subsection-text-indent: 3rem;

  /**
   *  Color of anchor texts on screen media
   */
  --vs-theme--anchor-color-body: darkblue;
}

html {
  font-size: 14pt;
}
@page {
  margin-top: 15mm;
  margin-bottom: 15mm;
  margin-outside: 12mm;   /* 外側（小口） */
  margin-inside: 14mm;    /* 内側（ノド） */
}
p {
  text-indent: 1em;
}

br + * {
  text-indent: 1em;
}