# キャラクター設定

{% for char in characters %}
## {{ char.name }}{% if char.reading %} ({{ char.reading }}){% endif %}
### {% if char.aliases %}別名: {{ char.aliases | join(', ') }}{% endif %}
- **二つ名**: {{ char.get('misc', {}).get('二つ名', '不明') }}
- **年齢**: {{ char.get('profile', {}).get('age', '不明') }} ({{ char.get('profile', {}).get('age_detail', '') }})
- **外見**: {{ char.get('profile', {}).get('appearance', '記述なし') }}
- **性別**: 肉体:{{ char.get('profile', {}).get('sex', {}).get('body', '不明') }} / 自認:{{ char.get('profile', {}).get('sex', {}).get('identity', '不明') }} / 対象:{{ char.get('profile', {}).get('sex', {}).get('target', '不明') }}
- **性格**: 
    {{ char.get('profile', {}).get('personality', '記述なし') | indent(4) }}
- **背景**: 
    {{ char.get('background', '記述なし') | indent(4) }}
- **関係性**:
    {% for rel in char.get('relations', []) %}
    - **{{ rel.target }}**: {{ rel.content }}
    {% endfor %}
    {% if char.get('misc', {}).get('MD_Relations') %}
    {{ char.get('misc', {}).get('MD_Relations') | indent(4) }}
    {% endif %}

{% endfor %}
